* {
    font-family: "Open Sans";
    scroll-behavior: smooth;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar */
  #navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    padding: 0px 20px;
    align-items: center;
    column-gap: 25px;
  }
  
  #navbar a {
    text-decoration: none;
    font-size: 3.5rem;
    color: #724c21;
  }
  
  #navbar img {
    width: 48px;
    height: 48px;
  }
  
  #navbar h2 {
    font-size: 1.5rem;
    color: #f9b23d;
    font-weight: bold;
  }
  
  /* Body */
  #game {
    width: 100vw;
    height: 100vh;
    background-color: #9c835f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #game .wrapper {
    position: relative;
    display: flex;
    width: 80%;
    margin-top: 50px;
    justify-content: space-between;
  }
  #refresh {
    position: absolute;
    bottom: 40px;
    width: 50px;
    height: 50px;
    background: url(../assets/refresh.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
  }
  
  #game .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 32%;
    row-gap: 20px;
  }
  #game .player .player-name {
    font-size: 2rem;
    font-weight: bold;
  }
  #game .player .options {
    display: flex;
    width: 120px;
    height: 120px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0;
  }
  
  #game .player .options.active {
    background-color: #c4c4c4;
  }
  #game .player .options img {
    width: 72px;
    height: auto;
  }
  #game .center {
    position: relative;
    display: flex;
    flex-basis: 36%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #game .center .result {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #game .center .center-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #game .center .center-text .result-text {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
  }
  #game #vs p {
    font-size: 5rem;
    color: #bd0000;
  }
  #game .center .result-box {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    transform: rotate(-27deg);
    z-index: 10;
  }
  #game .center .win {
    background-color: #4C9654;
  }
  #game .center #draw {
    background-color: #035B0C;
  }
  
  